.idea
.vscode

*.log
.DS_STORE
/.eslintcache
/docs/.next
/.nyc_output
/coverage
/docs/export
/examples/**/.cache
/packages/material-ui-codemod/lib
/packages/material-ui-icons/material-icons/*
/test/regressions/screenshots
/test/selenium-output
/tmp
build
node_modules
package-lock.json
size-snapshot.json
.next
.env
.gcloudbuild.json

prod.env
dev-local-mongo.env
stage.env
